extends ../layout

block contenido
    h1 Listado de Clientes

    div(style='text-align: right; margin-bottom: 15px;')
        a.btn-nuevo(href='/clientes/nuevo') + Registrar Cliente
    
    if clientes.length > 0
        table
            thead
                tr
                    th ID
                    th Documento
                    th Nombre / Razón Social
                    th Email
                    th Teléfono
                    th Acciones
            tbody
                each prod in clientes
                    tr
                        td= prod.id
                        td #{prod.tipoDoc}: #{prod.nroDoc}
                        td= prod.tipoDoc === 'DNI' ? prod.nombre : prod.razonSocial
                        td= prod.email
                        td= prod.telefono
                        td
                            div.acciones-container 
                                a(href=`/clientes/editar/${prod.id}`) Editar

                                form(action=`/clientes/eliminar/${prod.id}`, method="POST" style="display:inline" onsubmit="return confirm('¿Está seguro que desea eliminar este cliente?')")
                                    button.btn-accion.btn-borrar(type="submit") Eliminar
    else
        p No hay clientes registrados en el sistema.